<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      ~{{.Path}} &middot; {{.NumFiles}} file{{if ne 1 .NumFiles}}s{{end}} {{.NumDirs}} folder{{if ne 1 .NumDirs}}s{{end}}
    </title>
    <style>
      html {
        font: 16px/1 sans-serif;
        height: 100%;
      }
      body {
        align-items: center;
        display: flex;
        margin: 0;
        min-height: 100%;
      }
      a {
        text-decoration: none;
      }
      a:hover {
        color: #f00;
      }
      main {
        box-sizing: border-box;
        flex: 1;
        margin: 0;
        padding: 2rem;
      }
      dl {
        border-top: 1px dotted #ddd;
        display: grid;
        grid-column-gap: 0.5rem;
        grid-template-columns: 2fr 1fr 1fr;
        font-size: 0.75rem;
        list-style: none;
        margin: 0;
        padding: 0 0.5rem;
      }
      dl:last-of-type {
        border-bottom: 1px dotted #ddd;
      }
      dl:hover {
        background: #f9f9f9;
      }
      dt {
        font-size: 0.9375rem;
      }
      dd {
        font-family: 'Menlo', 'Andale Mono', monospace;
        margin: 0;
      }
      dt,
      dd {
        display: flex;
        padding: 0.5rem 0;
        width: 100%;
      }
      dd time,
      dd span {
        margin: auto 0 auto auto;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    </style>
  </head>
  <body>
    <main>
      {{- if .CanGoUp}}
      <dl>
        <dt>
          <a href=".."><strong>..</strong></a>
        </dt>
        <dd>
          <span>&mdash;</span>
        </dd>
        <dd>
          <span>&mdash;</span>
        </dd>
      </dl>
      {{- end}}
      {{- range .Items}}
      <dl>
        <dt>
          <a href="{{html .URL}}">{{if .IsDir}}<strong>{{html .Name}}</strong>{{else}}{{html .Name}}{{end}}</a>
        </dt>
        <dd>
          <time datetime="{{.HumanModTime "2006-01-02T15:04:05Z"}}">{{.HumanModTime "01 Jan '06 15:04"}}</time>
        </dd>
        <dd>
          <span>{{if .IsDir}}&mdash;{{else}}{{.HumanSize}}{{end}}</span>
        </dd>
      </dl>
      {{- end}}
    </main>
  </body>
</html>
