<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <style>
      :root {
        --link-color: #00f;
        --visited-color: #808080;
        --hover-color: #f00;
        --active-color: #f00;
      }
      html {
        font: medium/110% sans-serif;
        height: 100%;
      }
      body {
        display: grid;
        margin: 0;
        min-height: 100%;
        place-items: center;
      }
      a {
        text-decoration: none;
      }
      a:not([href*="."]),
      a[href*="//"] {
        font-weight: bold;
      }
      a:link {
        color: var(--link-color);
      }
      a:visited {
        color: var(--visited-color);
      }
      a:hover {
        color: var(--hover-color);
        text-decoration: none;
      }
      a:active {
        color: var(--active-color);
      }
      main {
        box-sizing: border-box;
        padding: 2rem;
        width: 100%;
      }
      hr {
        border: unset;
        border-top: 1px dotted #ddd;
      }
      dl,
      p {
        font-size: 0.875rem;
        margin: 0 auto;
        max-width: 50rem;
      }
      dl {
        align-items: center;
        display: grid;
        grid: auto-flow / 2fr 1fr 1fr;
        grid-gap: 0.5rem;
      }
      dd {
        font: 0.6875rem/normal "Menlo", "Andale Mono", monospace;
        margin: 0;
        text-align: right;
      }
      dt,
      dd {
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
      }
      @media (prefers-color-scheme: dark) {
        :root {
          --link-color: #ff0;
          --hover-color: #fff;
          --active-color: #fff;
        }
        html {
          background: #171717;
          color: #fff;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <hr>
      {{- range $i, $info := .List}}
      {{- if gt $i 0}}
      <hr>
      {{- end}}
      <dl>
        <dt>
          <a href="{{.Name}}{{if .IsDir}}/{{end}}">{{.Name}}</a>
        </dt>
        <dd>{{.ModTime.Format "Jan. 02 '06 15:04:05"}}</dd>
        <dd>{{.Size}}</dd>
      </dl>
      {{- else}}
      <p>&hellip;</p>
      {{- end}}
      <hr>
    </main>
  </body>
</html>
